body{
    background-image: url("pushpa2.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
h1{
    text-align: center;
    font-family:algerian ;
    text-decoration:line-through;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
li a {
    display:flex;
    color:aqua;
    text-align: center;
    padding: 16px;
    text-decoration: line-through;
  }
  li a:hover {
    background-color: #111111;
    color:chartreuse;
  }
 li{
    border-color: yellow;
    border-width: 5px;
 }